# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.env.*

# Flask
instance/

# SQLite database
database/*.db
*.sqlite
*.sqlite3

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Logs
*.log